<div class="container">
    <div class="row align-items-center">
        <div class="col">
            {{#each routines}}
            <div class="row m-2">
                <div class="col-sm-2 m-2">
                    <a href="/edit/{{id}}" class="btn btn-info btn-lg btn-block">Edit</a>
                </div>
                <div class="col-sm-9 m-2">
                    <a href="/track/{{id}}" class="btn btn-info btn-lg btn-block">{{name}}</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>