    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <div class="row m-2">
                    <div class="col-sm-2 m-2">
                        <button class="btn-lg btn-block">Edit</button>
                    </div>
                    <div class="col-sm-9 m-2">
                        <button class="btn-lg btn-block">Workout Number One</button>
                    </div>
                </div>

                <div class="row m-2">
                    <div class="col-sm-2 m-2">
                        <button class="btn-lg btn-block">Edit</button>
                    </div>
                    <div class="col-sm-9 m-2">
                        <button class="btn-lg btn-block">Workout Number Two</button>
                    </div>
                </div>

            </div>
        </div>
    </div>