<div class="container">
    <form class="align-items-center">
        <div class="form-group">
            <label for="routineInput">Routine Name: </label>
            <input type="text" class="form-control" id="routineInput" placeholder="Cardio Craze">
            <button class="btn-lg m-2">Add Another Exercise</button>
        </div>
        <div class="form-row m-2">
            <div class="form-group col-sm-2">
                <label for="repsInput">Reps/Minutes:</label>
                <input type="number" class="form-control" id="repsInput" placeholder="25">
            </div>
            <div class="col">
                <div class="form-group col-sm-10">
                    <label for="exerciseInput">Exercise:</label>
                    <input type="text" class="form-control" id="exerciseInput" placeholder="stairmaster">
                </div>
            </div>
        </div>
    </form>

    <div class="row d-flex justify-content-center">
        <div class="col-sm-9 m-2 d-flex justify-content-center">
            <button class="btn-lg btn-block">Create My Workout Routine!</button>
        </div>
    </div>
</div>