<div class="container mx-auto">
    <h1 style="text-align: center;">Track My Workout!</h1>
    <hr>
    <h2 style="text-align: center;">Workout Number One</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Completed</th>
                <th scope="col">Goal</th>
                <th scope="col">Remaining</th>
                <th scope="col">Exercise</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0</td>
                <td>30</td>
                <td>30</td>
                <th scope="row">crunches</th>
            </tr>
        </tbody>
    </table>
</div>